.weather-block-api {
    background-color: #dadaff !important;
    padding: 3rem;
    background: #dadaff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}